h5, h4{
    display:inline;
}
.modal-dialog{
    width:60%;
}
#wrap{
    padding:0;
    margin-top:5px;
    width:100%;
}
div.details-div{
    margin-left:5px;
    margin-top:10px;
    display:inline-block;
} 
.book-picture{
    max-width: 100px;
    max-height: 200px;
}

h6.sub-title{
    padding-left: 2em;
}

.book-summery{
    margin-top:20px;
    margin-bottom:20px;
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #dddddd;
    width: 700px;
    border-radius: 25px;
}
.book-title{
    text-shadow: 1px 1px #a1a1a1;
}
