<div id="admin-manage-borrows" class="tab-pane">
    <h2>Borrows</h2>
    <table  class="table table-striped">
        <thead>
            <tr>
                <th>Borrower</th>
                <th>Book Title</th>
                <th>Book Author</th>
                <th>Borrow Date</th>
                <th>Return Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="adminBorrowsTableBody"></tbody>
    </table>
</div>
