
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/components/bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="~/Scripts/components/bower_components/polymer/polymer.html" />
    <link rel="import" href="~/Scripts/components/bower_components/paper-styles/paper-styles.html">
    <link rel="import" href="~/Scripts/components/bower_components/paper-material/paper-material.html" />
    <link rel="import" href="~/Scripts/components/bower_components/paper-button/paper-button.html" />
    <link rel="import" href="~/Scripts/components/bower_components/paper-input/paper-input.html" />
    <link rel="import" href="~/Scripts/components/bower_components/paper-card/paper-card.html" />
    <style>
        paper-card{
            --paper-card-header-color: #76FF03;
        }
    </style>
    <style shim-shadowdom>
        paper-button {
            padding: 0;
        }

            paper-button::shadow .button-content {
                padding: 0;
            }

            paper-button button {
                padding: 1em;
                background-color: transparent;
                border-color: transparent;
            }

                paper-button button::-moz-focus-inner {
                    border: 0;
                }
    </style>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <form method="post" action="/Login/index">
        <paper-card style="--paper-card-header-color: red !important; top: 50%; left: 50%; right: 50%" heading="Welcome" animatedshadow="true" image="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQc2IjxMCbVfUQa0pFB0Vtij6h3a2H7w7iRjYsAmY6LCkISFuUW">
            <div class="card-content">
                <paper-input name="id" label="id"></paper-input>
                <paper-input name="password" label="password"></paper-input>
            </div>
            <div class="card-actions">
                <paper-button>
                    <button type="submit">Login</button>
                </paper-button>
                <button type="submit">KKK</button>

            </div>
        </paper-card>
    </form>
</body>
</html>
